<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row justify-content-md-center" style="margin-top: 5%;">
    <h2 >Form Tambah Pesawat</h2>
</div>
<form  class="form-horizontal" th:action="@{/pesawat/}" th:object="${pesawat}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
        <label class="control-label col-sm-2" >Maskapai :</label>
        <div class="col-sm-10">
            <input class="form-control" th:field="*{maskapai}" type="text" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" >Tanggal Dibuat :</label>
        <div class="col-sm-10">
            <input class="form-control" th:field="*{tanggalDibuat}" type="date" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" >Tempat Dibuat :</label>
        <div class="col-sm-10">
            <input class="form-control" th:field="*{tempatDibuat}" type="text" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" >Jenis :</label>
        <div class="col-sm-10">
    <select class="form-control" th:field="*{jenisPesawat}" >
        <option value="">Pilih jenis pesawat</option>
        <option value="Komersil">Komersil</option>
        <option value="Militer">Militer</option>
    </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" >Tipe :</label>
        <div class="col-sm-10">
            <select class="form-control" th:field="*{tipe}" >
                <option value="">Pilih tipe pesawat</option>
            <option th:each="tipee : ${tipes}" th:value="${tipee.id}" th:text="${tipee.nama}"></option>
            </select>
        </div>
    </div>
    <div th:each="temp, itemStat : *{listpesawatteknisi}">
    <div class="form-group" >
<!--        <input type="hidden" th:field="*{listpesawatteknisi[__${itemStat.index}__].id}"/>-->
        <label class="control-label col-sm-2" >Teknisi :</label>
        <div class="col-sm-10">
            <select class="form-control" th:field="*{listpesawatteknisi[__${itemStat.index}__].teknisi}" >
                <option value="">Pilih teknisi</option>
                <option th:each="teknisi : ${teknisis}" th:value="${teknisi.id}" th:text="${teknisi.nama}"></option>
            </select>
        </div>
    </div>
    </div>
    </br>
    <button type="submit" value="Submit" class="btn btn-primary" name="addItem">Tambah Teknisi</button>
    </br>
    <a th:href="@{/pesawat/}" class="btn btn-light">Batal</a>
    <input name="save" value="Simpan" type="submit" class="btn btn-sm btn-success"/>

</form>

</body>
</html>