<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="container" style="margin-top: 10%; font-weight: bold">
    <div class="row justify-content-md-center" style="background-color: dodgerblue;border-radius: 25px;">
           <p style="padding-bottom: 50px; padding-top:50px;padding-left: 20px; padding-right: 20px; font-size: 50px; color: white">
               Selamat Datang di SiPesawat!</p>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 10px">
       <h2 >Daftar Fitur :</h2>
    </div>
</br>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
        <a th:href="@{/pesawat}" class="btn btn-primary">Pesawat</a>
        </div>
        <div class="col-md-2">
            <a th:href="@{/penerbangan}" class="btn btn-primary">Penerbangan</a>
        </div>
        <div class="col-md-2">
            <a th:href="@{/pesawat/pesawat-tua}" class="btn btn-primary">Cari</a>
        </div>
        <div class="col-md-2">
            <a th:href="@{/}" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>
</body>
</html>