<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>View All Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row justify-content-md-center" style="margin-top: 5%;">
    <h2 >Daftar Penerbangan</h2>
</div>
<div class="container mt-4">
<a th:href="@{/penerbangan/tambah}" style="background-color:#329ec8; color: white" class="btn ">+Tambah Penerbangan</a>

<table class="table" style="margin-top: 1rem">
    <thead>
    <tr style="background-color:#329ec8">
        <th scope="col" style="color:white">No</th>
        <th scope="col" style="color:white">Kode Penerbangan</th>
        <th scope="col" style="color:white">Bandara Asal</th>
        <th scope="col" style="color:white">Bandara Tujuan</th>
        <th scope="col" style="color:white">Waktu Berangkat</th>
        <th scope="col" style="color:white">Aksi</th>
        <th scope="col" style="color:white"></th>
        <th scope="col" style="color:white"></th>
    </tr>
    <tbody>
    <tr th:each="p, iterationStatus: ${listpenerbangan}" >
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${p.nomorPenerbangan}"></td>
        <td th:text="${p.kodeBandaraAsal}"></td>
        <td th:text="${p.kodeBandaraTujuan}"></td>
        <td th:text="${#dates.format(p.waktuBerangkat, 'dd-MM-yyyy')}"></td>
        <td><a th:href="@{/penerbangan/}+${p.id}" class="btn btn-primary">Lihat</a></td>
        <td><a th:href="@{/penerbangan/ubah/}+${p.id}" class="btn btn-warning">Ubah</a></td>
        <td><a th:href="@{/penerbangan/hapus/}+${p.id}" class="btn btn-danger">Hapus</a></td>
        <!--                    <a th:href="@{/kamar/delete/}+${kamar.noKamar}">Delete Kamar</a>-->
    </tr>
    </tbody>
    </thead>
</table>
</div>
</body>
</html>