<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>View Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row justify-content-md-center" style="margin-top: 5%;">
    <h2 >Detail Pesawat</h2>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-2" style="font-weight: bold;">
        <p>Nomor Seri Pesawat</p>
    </div>
    <div class="col col-lg-2">
        <p th:text="${pesawat.nomorSeri}"></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-2" style="font-weight: bold;">
        <p>Jenis Pesawat</p>
    </div>
    <div class="col col-lg-2">
        <p th:text="${pesawat.jenisPesawat}"></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-2" style="font-weight: bold;">
        <p>Nama Tipe Pesawat</p>
    </div>
    <div class="col col-lg-2">
        <p th:text="${pesawat.tipe.nama}"></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-2" style="font-weight: bold;">
        <p>Maskapai</p>
    </div>
    <div class="col col-lg-2">
        <p th:text="${pesawat.maskapai}"></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-2" style="font-weight: bold;">
        <p>Tempat dibuat</p>
    </div>
    <div class="col col-lg-2">
        <p th:text="${pesawat.tempatDibuat}"></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-2" style="font-weight: bold;">
        <p>Tanggal Dibuat</p>
    </div>
    <div class="col col-lg-2">
        <p th:text="${pesawat.tanggalDibuat}"></p>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <p class="font-weight-bold text-center mb-1">Daftar Teknisi Pesawat</p>

            <table class="table" style="margin-top:4.93rem">
                <thead>
                <tr style="background-color:#329ec8">
                    <th scope="col" style="color:white">No</th>
                    <th scope="col" style="color:white">Nama</th>
                    <th scope="col" style="color:white">Nomor Telepon</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="t, iterationStatus: ${listteknisi}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${t.teknisi.nama}"></td>
                    <td th:text="${t.teknisi.nomorTelepon}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-8">
            <p class="font-weight-bold text-center mb-1">Detail Pesawat Penerbangan</p>
            <form  class="m-1" th:action="@{/pesawat/}+${pesawat.id}+@{/tambah-penerbangan}" th:object="${penerbangan}" method="POST">
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex flex-column align-items-start">
                        <label>Tambah Penerbangan</label>
                        <div class="d-flex flex-row">
<!--                            <form  class="form-control" th:action="@{/pesawat/{id}/tambah-penerbangan(id = ${pesawat.id})}" th:object="${pesawat}" method="POST">-->
<!--                                <div th:each="temp, itemStat : *{listpenerbangan}">-->
                                <select class="form-control" th:field="*{id}" >
                                    <option value="">Pilih penerbangan</option>
                                    <option th:each="p : ${listpenerbangan2}" th:value="${p.id}" th:text="${p.nomorPenerbangan}"></option>
                                </select>
<!--                                </div>-->
<!--                                <input value="Tambah" type="submit" class="btn btn-primary ml-2" />-->
                                <button type="submit" class="btn btn-primary ml-2"> Tambah </button>

                        </div>
                    </div>
                </div>
            </form>
            <table class="table" >
                <thead>
                <tr style="background-color:#329ec8">
                    <th scope="col" style="color:white">No</th>
                    <th scope="col" style="color:white">Nomor Penerbangan</th>
                    <th scope="col" style="color:white">Bandara Asal</th>
                    <th scope="col" style="color:white">Bandara Tujuan</th>
                    <th scope="col" style="color:white">Waktu Berangkat</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="t, iterationStatus: ${listpenerbanganpesawat}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${t.nomorPenerbangan}"></td>
                    <td th:text="${t.kodeBandaraAsal}"></td>
                    <td th:text="${t.kodeBandaraTujuan}"></td>
                    <td th:text="${t.waktuBerangkat}"></td>
                </tr>
                </tbody>
            </table>
            <p class="font-weight-bold text-center mb-1" style="color: #1c7430;" th:text="${msg}"></p>
        </div>
    </div>
</div>
</body>
</html>