<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>View All Pesawat Tua</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row justify-content-md-center" style="margin-top: 5%;">
    <h2 >Daftar Pesawat Tua</h2>
</div>

<!--<a th:href="@{/pesawat/tambah}" class="btn btn-primary">+Tambah Pesawat</a>-->
<table align="center" class="table" style="margin-left: auto; margin-right: auto; width: auto; margin-top: 1rem" >
    <thead>
    <tr style="background-color:#329ec8">
        <th scope="col" style="color:white">No</th>
        <th scope="col" style="color:white">Nomor Seri</th>
        <th scope="col" style="color:white">Jenis</th>
        <th scope="col" style="color:white">Tipe</th>
        <th scope="col" style="color:white">Usia</th>

    </tr>
    <tbody>
    <tr th:each="pesawat, iterationStatus: ${listpesawat}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${pesawat.nomorSeri}"></td>
        <td th:text="${pesawat.jenisPesawat}"></td>
        <td th:text="${pesawat.tipe.nama}"></td>

        <div th:with="result=${pesawat.tanggalDibuat}">
            <div th:with="yearnow=${#dates.createNow()}">
        <td th:text="${#dates.year(yearnow)}- ${#dates.year(result)}"></td>
            </div>
        </div>
        <!--                    <a th:href="@{/kamar/delete/}+${kamar.noKamar}">Delete Kamar</a>-->
    </tr>
    </tbody>
    </thead>
</table>

</body>
</html>